<form [formGroup]="auth.signupForm" (ngSubmit)="submit()">
  <div class="card bg-dark">
    <div class="card-body">
      <h3 class="card-title">Sign Up</h3>
      <label>Username</label>
      <input
        type="text"
        formControlName="username"
        class="form-control usgm-input"
      />
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control usgm-input"
      />
      <div class="row">
        <div class="col col-6 pt-4">
          <button
            type="submit"
            [disabled]="auth.signupForm.invalid"
            class="btn btn-light"
          >
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
